.home-research-bar {
    @apply border-bg-green-dark border text-bg-green-dark my-10 w-full pl-3 grid grid-cols-12 items-center rounded-full bg-white
}

.home-research-bar .category {
    @apply flex items-center mr-2
}

.home-research-bar .separator {
    @apply w-1 h-10 inline-block bg-bg-green-dark ml-2
}

.home-research-bar img {
    @apply w-5 h-5 mr-1.5
}

/***************************************/

.home-research-bar .research-input {
    @apply py-1.5  placeholder:text-bg-green-dark w-full relative
}

.home-research-bar input {
    @apply w-full 
}

.home-research-bar .research-submit {
    @apply bg-orange text-white flex justify-center items-center w-full h-full px-1.5 rounded-full rounded-l-none
}

.research-map-container {
    position: fixed;
    width: 86vw;
    height: 70vh;
    top: 50%;
    left: 50%;
    margin-top: -35vh;
    /* Negative half of height. */
    margin-left: -43vw;

    @apply z-10;
}

.research-map-container .map-container {
    @apply w-full h-full z-10
}

.research-map-container .done-btn {
}

.research-map-container .refresh-btn {
}