.placeholder {
    flex: 1 0 0;
    letter-spacing: 0.5px;
  }
  
  .placeholder-1 {
    flex: 1 0 0;
    letter-spacing: 0.5px;
  }
  
  .frame_2609047 {
    flex: 1 0 0;
  }
  
  .placeholder-2 {
    flex: 1 0 0;
    letter-spacing: 0.5px;
  }
  
  .stock_q {
    flex: 1 0 0;
  }
  
  .placeholder-3 {
    flex: 1 0 0;
    letter-spacing: 0.5px;
  }
  
  .frame_2609047-1 {
    flex: 1 0 0;
  }
  
  .placeholder-4 {
    flex: 1 0 0;
    letter-spacing: 0.5px;
  }
  
  .stock_q-1 {
    flex: 1 0 0;
  }
  
  .placeholder-5 {
    flex: 1 0 0;
    letter-spacing: 0.5px;
  }